          <div>
          <p><br/></p>
          </div>

    <div class="specialisation">
        <h3>Specialisation</h3> 
          <div class="trow">
            <div class="tcol">
                <span><strong>Areas of study</strong></span>
                          <ul>
                          <li>Arts & media</li>
                          <li>Business & law</li>
                          <li>Communications & technology</li>
                          <li>Humanities & social sciences</li>
                          </ul>
            </div>
            <div class="tcol">
                <span><strong>Styles</strong></span>
                          <ul>
                          <li>Author-date (APA, Chicago, Harvard, etc.)</li>
                          <li>Footnote (AGLC, Chicago NB, OSCOLA, etc.)</li>
                          </ul>
            </div>
          </div>
    </div>
         
         <div>
         <img src="/assets/img/IPEd-230x93.jpg" alt="Institute of Professional Editors" width="230" height="93">
         </div>
         
          <!-- div>
          <span>Example subject areas: #Anthropology #CulturalTheory #Ethnography #EthicalTheory #Journalism #LegalStudies #Linguistics #ResearchMethods #VisualMethodologies
          </span>
          </div -->