          <div>
          <p></p>
          </div>

          <div class="specialisation">
          <h3>Specialisation</h3>
          <table border="0" width="100%">
            <tr>
                <td><strong>Subject areas</strong></td>
                <td><strong>Common styles</strong></td>
            </tr>
             <tr>
                <td>
                <ul>
                 <li>Anthropology & ethnography</li>
                 <li>Business & finance</li>
                 <li>Media, law & ethics</li>
                 <li>Open source & cyber cultures</li>
                 <li>Research methods</li>
                 <li>Subcultural theory</li>  
                </ul>   
                </td>
                <td>
                <ul>
                 <li>AGLC</li> 
                 <li>Author-date (APA, Chicago, Harvard)</li>
                 <li>Footnote (Chicago NB)</li>
                </ul>  
                </td>
            </tr>
          </table>
          </div>


          <div>
          <p></p>
          </div>